/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*::before *::after {
  box-sizing: border-box;
}

body {
  background-image: url(../img/sfondo.png);
  background-position: center;
  padding: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", system-ui;
  line-height: normal;
}
h1 {
  font-size: 2em;
}
article ul {
  list-style-type: disc;
}
main h2 {
  font-weight: 400;
}

article ol {
  list-style: decimal;
}

/* HEADER */
header {
  background-image: linear-gradient(317deg, rgba(95, 88, 198, 1) 12%, rgba(15, 22, 222, 1) 35%, rgba(54, 64, 110, 1) 50%);
  text-align: center;
  color: aliceblue;
  margin-bottom: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 5px gray;
  padding-block: 20px;

  font-weight: 400;
  font-style: normal;
}
header p {
  margin-block: 1.2em;
}

nav li {
  margin-bottom: 0.5rem;
}
li a {
  color: aliceblue;
  text-decoration: none;
}

/* MAIN */
.body {
  background-color: aliceblue;
  padding: 1em;
  box-shadow: 1px 2px 5px gray;
  margin-block: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.grey {
  margin-block: 2em;
  color: lightgrey;
}
article p {
  margin-block: 1.5em;
}
article ul,
article ol {
  padding-left: 40px;
  margin-block: 1.5em;
}
code {
  border: solid gray 1px;
  border-radius: 8px;
  background-color: rgb(235, 233, 233);
}
/* TABELLE */
table {
  margin-block: 1.5em;
  padding-right: 3px;
  text-align: center;
  border-collapse: unset;
  overflow-y: auto;
}
th {
  background-color: rgb(65, 65, 160);
  color: aliceblue;
  font-size: 1em;
  padding-inline: 2em;
  border-left: 1px solid whitesmoke;
}
caption {
  font-style: italic;
}
td {
  padding: 1em;
}

iframe {
  border-radius: 30px;
  box-shadow: 2px 2px 5px gray;
}
.news {
  background-color: lightgrey;
  text-align: center;
  padding: 1em;
  margin-block: 1em;
  box-shadow: 2px 2px 5px gray;
}
.news h2 {
  text-transform: uppercase;
  font-size: 1.2em;
}
.news p {
  text-align: left;
}

/* FORM */
form input {
  border-bottom: 1px dotted black;
  border-top: 0;
  border-inline: 0;
}
form button {
  background-color: blue;
  color: aliceblue;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
aside div {
  background-color: lightgrey;
  margin-block: 1em;
  padding: 1.5em;
  padding: 0.5em;
  margin-top: 1em;
  box-shadow: 2px 2px 5px gray;
}
.pleft {
  text-align: right;
  padding-top: 0.8em;
  margin-top: 1em;
}
/* FOOTER */
footer {
  background-image: linear-gradient(355deg, rgba(30, 30, 38, 1) 24%, rgba(89, 91, 148, 1) 76%, rgba(51, 47, 117, 1) 91%, rgba(54, 64, 110, 1) 95%);
  color: aliceblue;
  text-align: center;
  padding-inline: 1.2em;
  padding-block: 1em;
  font-weight: 300;
  font-size: 0.8em;
  box-shadow: 2px 2px 5px gray;
}
footer p {
  margin-bottom: 1em;
}
footer address {
  margin-bottom: 1em;
}
address a {
  color: rgb(225, 50, 176);
}
